@font-face {
  font-family: "TheSans-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TheSans-Bold.otf") format("opentype");
  /* Corrected format */
}

@font-face {
  font-family: "TheSans-light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/The-Sans-Plain.otf") format("opentype");
  /* Corrected format */
}

body {
  font-family: "TheSans-light";
  direction: rtl;
}

.TheSans-bold {
  font-family: "TheSans-bold" !important;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination-bullet {
  margin: 2px 0;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #00a3a0;
}

.active-mobile::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #00a3a0;
  position: absolute;
  border-radius: 10px 0px;
  bottom: -5px;
  right: 0;
}
input:focus,
textarea:focus {
  border: #1458a1;
  outline-color: #1458a1;
}
.search-tag:hover {
  background: #1458a1;
  color: #fff;
}

.search-tag:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%)
    hue-rotate(221deg) brightness(103%) contrast(102%);
}

.banner-arrow:hover {
  background: #1458a1;

}
.banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.card{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

}


.card-animation {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;

}

.card-animation h2, .card-animation img {
  z-index: 1;
  color: black;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-animation::after {
  content: '';
  position: absolute;
  background: #fff;
  ;
  inset: 5px;
  border-radius: 15px;
}  
 .card-animation:hover:before {
  content: '';
  position: absolute;
  width: 100px;
  background-color: #00A3A0;
  height: 130%;
  transition: all 0.2s linear;
  background-color: #1458A1;
  animation: rotBGimg 3.5s linear infinite;
} 

